@model IEnumerable<MVCBookStore.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Authors List</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <button><a asp-action="Create">Create New</a></button>
    </p>
}
<form asp-controller="Authors" asp-action="Index" method="get">
    <p>
        First Name/Last Name/Nationality: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Books" asp-action="Index" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.FirstName)</a>
                </td>
                <td>
                    <a asp-controller="Books" asp-action="Index" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.LastName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <button> <a asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>
                        <span>|</span>
                    }
                    <button> <a asp-action="Details" asp-route-id="@item.Id">Details</a></button>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <span>|</span>
                        <button><a asp-action="Delete" asp-route-id="@item.Id"> Delete </a></button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
