@model IEnumerable<MVCBookStore.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Genres List</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <button><a asp-action="Create">Create New</a></button>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                        <a asp-controller="Books" asp-action="GenreIndex" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.GenreName)</a>
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <button><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>
                    }
                    <button><a asp-action="Details" asp-route-id="@item.Id">Details</a></button>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <button><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>